<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  This is to load properties file .i.e. sports.properties  -->
    <context:property-placeholder location="classpath:sports.properties"></context:property-placeholder>
    <!-- Define your beans here -->
    <bean id="happyFortune" class="com.spring.demo.HappyFortuneService"></bean>
    <bean id="randomFortune" class="com.spring.demo.RandomFortuneService"></bean>
    <bean id="baseballCoach" class="com.spring.demo.BaseballCoach">
        <!--   CONSTRUCTOR INJECTION     -->
        <!--   ref - we will provide the id of helper or dependency class  -->
        <constructor-arg ref="happyFortune"></constructor-arg>
    </bean>
    <bean id="trackCoach" class="com.spring.demo.TrackCoach">
        <constructor-arg ref="randomFortune"></constructor-arg>
    </bean>
    <bean id="cricketCoach" class="com.spring.demo.CricketCoach">
        <!--   SETTER INJECTION     -->
        <!--   ref - we will provide the id of helper or dependency class  -->
        <!--  name- it is the actual field name of cricketCoach class  -->
        <property name="fortuneService" ref="happyFortune"/>
        <!--   Injecting values from properties files    -->
        <property name="email" value="${sports.email}"></property>
        <property name="team" value="${sports.team}"></property>
    </bean>
    <!-- declaring scope and adding init and destroy methods   -->
    <!-- for prototype scope by default destroyed method will not be called, to do that SwimmingCoach class should implement DisposableBean interface, this interface defines destroy method so we can remove it from destroy-method from here -->
    <bean id="swimCoach" class="com.spring.demo.SwimmingCoach"
          scope="prototype"
          init-method="preparePool">
    </bean>
</beans>





